[class^="svg-"], [class*=" svg-"] {
  font-size: 36px;
  color: rgb(68, 68, 69);
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 1.18em;
  width: 1.18em;
}

[data-svg]:before {
  content: attr(data-svg) !important;
  position: absolute;
  top: 0;
  left: 0;
}

.red-violet {
	color: #D31999;
	position: absolute;
	left:0;
}

.flush {
  color: #8CCE52;
  position: absolute;
  left:0;
}

.buttercup {
  color: #F2B919;
  position: absolute;
  left:0;
}

.mantis {
  color: #8CCE52;
  position: absolute;
  left:0;
}

.silver {
  color: #cccccc;
  position: absolute;
  left:0;
}

.compute [class^="svg-"]{
	font-size: 25px;
	padding: 0 4px;
}
.compute button[disabled] span.path2:before{
	opacity: 0.5;
}

.compute span.disabled span.path2:before{
	opacity: 0.5;
}